* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Inter, sans-serif;

}

.wrapper {
  max-width: 1280px;
  margin: auto;
}

@import "./screens-mixin";

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #1c467000;
}

body::-webkit-scrollbar-thumb {
  background: #F8BE21;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #214a73;
}
